@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@500&family=Source+Sans+Pro:ital,wght@0,300;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

body {
    /* background-color: #fff;  */
    background-color: rgb(114, 233, 17);
    width: 100%;
}
*{
    margin: 0;
    padding: 0;
}
nav{
    font-family: 'Cabin', sans-serif;

}
nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 65px;
    width: 100%;
    background-color: black;
    color: white;
}
@media only screen and (max-width: 109%)
{
    ul{
        width: 100%;
    }
}
.brand img{
    width: 80px;
    padding: 0 px;
}
.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}
.container {
    min-height: 75vh;
    background-color: black;
    color: white;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    display: flex;
    width: 91%;
    margin: 15px auto;
    background-image: url(virusmuzic-logos_white.png);
    /* text-align: center; */
    border-radius: 12px;
    padding: 34px;
    background-repeat: no-repeat;
    object-fit: cover;
    background-position: cover;

    
    
    
}
.songItem {
    height: 50px;
    /* width: 25px; */
    display: flex ;
    background-color: #fff;
    color: black;
    margin: 12px 0px;
    justify-content: space-between;
    align-items: center;
    border-radius: 34px;
    /* padding: 5px; */
    /* margin-left: 12px;
    padding-top: 10px;
         */
}
.songItem img{
    width: 43px;
    margin:  0 23px;
    border-radius: 34px;
    /* margin: 12px;
    padding: 12px; */
}



nav ul li{
     padding: 0 12px;
}
.bottom{
    position: sticky;
    height: 140px;
    width: 100%;
    background-color: black;
    color: white;
    bottom: 0;   
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* border-radius: 15px;
    padding:35px;
    position: -w ebkit-sticky; */

}
#myProgressBar{
    width: 91%;
    text-align: center;
    cursor: pointer;
    margin-left: -1%;
    
}
.icons{
    margin: 15px;
    margin-left: 0%;
}
.icons i{
    cursor: pointer;
    /* color: #fff; */
}
.timestamp{
    margin: 0 20px ;
}
.timestamp{
    cursor: pointer;
}
.songItemContainer{
    margin-top: 75px;
}
/* .songlist{
    text-align: left;
    font-size: 10px;
    margin: 12px 12px;
    padding-bottom: 43px;
} */
.songInfo{
    position: absolute;
    left: 0vw;
    /* width: 20px;padding-bottom: 10px; */
    /* text-align: left; */
    /* background-image: url(playing.gif); */
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    
}
.songInfo img{
    opacity: 0;
    transition: opacity 0.4s ease-in;
}
@media only screen and (max-width: 700px) {
    nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 65px;
    width: 250%;
    background-color: black;
    color: white;
}
.bottom{
    position: sticky;
    height: 140px;
    width: 250%;
    background-color: black;
    color: white;
    bottom: 0;   
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* border-radius: 15px;
    padding:35px;
    position: -w ebkit-sticky; */

}
    body {
    background-color: rgb(54, 21, 21);
      width: 255px;
      padding: 0;

    }
    .container {
    min-height: 75vh;
      background-color: rgb(114, 233, 17);
    color:black;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    display: flex;
    width: 174%;
    margin: 15px auto;
    background-image: url(virusmuzic-logos_white.png);
    /* text-align: center; */
    border-radius: 12px;
    padding: 34px;
    background-repeat: no-repeat;
    object-fit: cover;
    background-position: cover;
    }
   
  }
  .btn{
    color: #fff;
    text-decoration: none;
    text-align: right;
    transform: matrix();
  }
  .d{
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 900;

  }
  .skk{
    height: 636px;
    width: 169px;
    background-color: rgb(10, 10, 10);
    margin-top: -791px;
    margin-left: 6px;
    /* border-radius: 25px; */
    /* min-height: 75vh; */
    position: sticky;
  }
  .rec{
    width: 250px;
    height: 250px;
    background-color:  rgb(114, 233, 17);
    border: 2px solid black;
    margin-top: 30%;
    margin-left: 40%;
  }