*{
    box-sizing: border-box;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 15px 30px;
    font-size: 17px;
    padding: 8px ;
    background-color: rgba(111, 197, 108, 0.63);
    color: 15pxsolid rgb(102, 223, 46);
    
}
.container{
    background-color: pink;
    padding: 5px 15px 20px;
    border: 1px solid lightgray;
    border-radius: 4px;
}
input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="date"],
select,
textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid rgb(17, 16, 16);
    border-radius: 5px;
    margin: 10px;
    text-transform: capitalize;
    background-color: #fff;
}
fieldset{
  background-color: #fff;
    border: 1px solid #ccc;
    text-transform: capitalize;
}
.main_heading{
    text-align: center;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
}
input[type="submit"]{
    background-color: rgb(175, 164, 164);
    color: rgb(202, 233, 226);
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    text-transform: uppercase;
}
input[type="submit"]:hover{
    background-color: rgb(39, 27, 27);
   
}
img{
    width: 5%;
    
}
.address1{
    width: 50%;
    
}
.e1{
    color: rgb(0, 0, 0);
    font-weight: 900;
}